:root {
  --background: #ffffff;
  --foreground: #171717;

  /* Custom Font Variables */
  --font-panel-sans-black-italic: 'panelSansBlackItalic', sans-serif;
  --font-panel-sans-black: 'panelSansBlack', sans-serif;
  --font-panel-sans-bold-italic: 'panelSansBoldItalic', sans-serif;
  --font-panel-sans-bold: 'panelSansBold', sans-serif;
  --font-panel-sans-italic: 'panelSansItalic', sans-serif;
  --font-panel-sans-light-italic: 'panelSansLightItalic', sans-serif;
  --font-panel-sans-light: 'panelSansLight', sans-serif;
  --font-panel-sans-medium-italic: 'panelSansMediumItalic', sans-serif;
  --font-panel-sans-medium: 'panelSansMedium', sans-serif;
  --font-panel-sans-regular: 'panelSansRegular', sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* Basic styles for the layout */
html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  padding: 0;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-panel-sans-regular);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
